<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplikasi Prediksi Cuaca</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-gradient-to-r from-sky-400 to-teal-600 flex flex-col items-center h-screen"
  >
    <!-- ! Container Judul -->
    <div
      class="w-full max-w-3xl flex flex-row justify-center items-center gap-4"
    >
      <h1 class="text-2xl font-bold mb-8 mt-8">PREDIKSI CUACA</h1>
      <picture>
        <source
          srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f32a/512.webp"
          type="image/webp"
        />
        <img
          src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f32a/512.gif"
          alt="🌪️"
          width="32"
          height="32"
        />
      </picture>
    </div>

    <!-- ! Menu Input -->
    <section class="w-full max-w-md bg-white rounded-xl shadow-md p-6 mb-6">
      <h2 class="text-lg font-semibold mb-4 text-center">Input User</h2>
      <div class="space-y-4">
        <div>
          <label class="block font-medium text-center">Suhu Udara</label>
          <input
            id="suhu"
            type="text"
            class="w-full border border-gray-300 rounded px-3 py-2"
          />
        </div>
        <div>
          <label class="block font-medium text-center">Kelembaban Udara</label>
          <input id="kelembaban" type="text"" class="w-full border
          border-gray-300 rounded px-3 py-2" />
        </div>
        <div>
          <label class="block font-medium text-center">Tekanan Udara</label>
          <input
            id="tekanan"
            type="text"
            class="w-full border border-gray-300 rounded px-3 py-2"
          />
        </div>
      </div>
    </section>

    <!-- ! Output Container -->
    <div class="w-full max-w-3xl flex flex-col md:flex-row gap-6 mb-6">
      <!-- Output Sugeno -->
      <section class="w-full max-w-md bg-white rounded-xl shadow-md p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4 text-center">Output Sugeno</h2>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label class="block font-medium text-center">Curah Hujan</label>
            <input
              type="text"
              class="w-full border border-gray-300 rounded px-3 py-2"
              readonly
            />
          </div>
          <div>
            <label class="block font-medium text-center">Prediksi Cuaca</label>
            <input
              type="text"
              class="w-full border border-gray-300 rounded px-3 py-2"
              readonly
            />
          </div>
        </div>
      </section>

      <!-- ! Output Mamdani -->
      <section class="w-full max-w-md bg-white rounded-xl shadow-md p-8 mb-2">
        <h2 class="text-lg font-semibold mb-4 text-center">Output Mamdani</h2>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label class="block font-medium text-center">Curah Hujan</label>
            <input
              type="text"
              class="w-full border border-gray-300 rounded px-3 py-2"
              readonly
            />
          </div>
          <div>
            <label class="block font-medium text-center">Prediksi Cuaca</label>
            <input
              type="text"
              class="w-full border border-gray-300 rounded px-3 py-2"
              readonly
            />
          </div>
        </div>
      </section>
    </div>

    <!-- ! Menu Saran -->
    <section class="w-full max-w-md bg-white rounded-xl shadow-md p-6 mb-6">
      <h2 class="text-lg font-semibold mb-4 text-center">Saran</h2>
      <p class="text-gray-700">
        Disarankan membawa payung jika hendak bepergian karena diprediksi hujan
        ringan.
      </p>
    </section>

    <!-- ! Tombol -->
    <div class="flex gap-4">
      <button
        class="bg-blue-500 text-white px-6 py-2 rounded hover:bg-blue-600"
      >
        Proses
      </button>
    </div>

    <!-- * Script Js -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
